:root {
    --form-color: rgb(255,255,255);
    --bg-color: #f8fafc;
    --text-color: rgb(0,0,0);
    --box-shadow: rgba(0,0,0,.5);
    --book-shadow: rgba(0,0,0,.15);
    --book-hover: rgba(78, 78, 78, 0.435);
    --book-border: rgb(0,0,0);
    --input-color: rgb(200,200,200) ;
    font-family: 'Roboto', sans-serif;
}

* {
    transition: all 0.2s;
}

.dark {
    --form-color: #27272a;
    --bg-color: #18181b;
    --text-color: rgb(255,255,255);
    --box-shadow: rgba(255,255,255,.5);
    --book-shadow: rgba(255,255,255,.15);
    --book-hover: rgba(78, 78, 78, 0.435);
    --book-border: rgb(222,222,222);
    --input-color: rgb(200,200,200) ;
}

.dark img {
    filter:invert();
}

body {
    background-color: var(--bg-color);
    display:flex;
    justify-content: center;
    height: 300vh;
}

/* HEADER HEADER HEADER */

header {
    background-color: var(--bg-color);
    position: fixed;
    z-index: 200;
    display:flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    overflow: hidden;
    width: 100%;
    box-shadow: 0 0 12px var(--box-shadow) ;
    color: var(--text-color);
}

header * {
    z-index: 199;
    position: relative;
}

header h1 {
    font-weight: 600;
    letter-spacing: .25rem;
    text-shadow: 0 0 3px var(--box-shadow) ;
}

header img {
    width: 2rem;
    height: 2rem;
    /* filter:invert(); */
}

header > div {
    display:flex;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.theme,
.add {
    cursor: pointer;
}

/* BOOKS */

.container {
    margin-top: 7rem;
    display:grid;
    grid-template-rows:repeat( auto-fill, minmax(300px, 1fr) );
    grid-template-columns: repeat( auto-fill, minmax(100px, 250px) );
    gap: 20px;
    width: 100%;
    justify-content: center;
}

.book {
    background-color: var(--form-color);
    border-radius: .5rem;
    border-left: .5rem solid var(--book-border) ;
    box-shadow: 2px 2px 8px var(--book-shadow); 
    padding: 25px 25px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.12s ease-in-out;
}
    .book:hover {
        border-left: clamp(.5rem,.8vw,.82rem) solid var(--book-border) ;
        box-shadow: 3px 3px 10px var(--book-hover);
    }

.book-content {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    .book-content * {
        font-weight: 600;
        font-size: clamp(12px,5vw,1rem) ;
        color:var(--text-color);
        padding: 0;
        margin: 0;
    }
     .book-title { /* Limit text to three lines */
        /* font-size: clamp(16px,100%,1.5rem) ; */
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        max-width:23ch;
        word-wrap: break-word;
    }
    .book-author { /* Limit text to one line */
        margin-top: .5rem;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 28ch;
        white-space: nowrap;
    }
    .book-finish,
    .book-pages {
        font-weight: 500;
        margin-top: 1rem;
        transition: all 0.5s;
    }
    .book-complete {
        font-size: 1.1rem;
        color: rgb(75, 190, 75);
        text-shadow: 0 1px var(--box-shadow) ;
        /* font-weight: 600; */
    }

.book-icons {
    display:flex;
    justify-content: center;
    width: clamp(25px, 20%,20% );
    gap: clamp(10px,20px,20px) ;
    cursor: pointer;
}
    .book-icons * {
        transition: all 0.2s;
        z-index: 2;
    }
    .book-icons *:hover {
        scale: 1.33;
    }

/* FORM */

form {
    position: fixed;
    top:25%;
    background-color: var(--form-color);
    padding: 2rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 6px var(--box-shadow) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    transition: all 0.2s;
    z-index: 3;
    color: var(--text-color);
}

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input:placeholder-shown,
input {
    outline: none;
    border: 1px solid var(--input-color) ;
    font-size: 1rem;
    border-radius: 2px;
    transition: all 0.2s;
    padding: .5rem;
}
    input:focus {
        box-shadow: 1px 1px 6px var(--box-shadow) ;
    }
    input:invalid {
        border: 1px solid #b92326;
    }
    input:valid {
        border: 1px solid rgb(110, 190, 110) ;
    }
    input:focus:valid {
        border: 1px solid rgb(99,255,99) ;
    }
    input:focus:invalid {
        border: 1px solid #b92326;
    }

label {
    font-size: 1.2rem;
    letter-spacing: .06rem;
    /* font-weight: 750; */
    /* color: rgb(66,66,66); */
}

.input-f {
    flex:.75;
    display:flex;
    flex-direction: column;
    gap: 1rem;
}

.form-buttons {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    width: 100%;
}
.form-buttons * {
    background-color: #0ea5e9;
    border: none;
    color: rgb(255,255,255);
    border-radius: 6px;
    font-size: 1rem;
    padding: 1rem 2.5rem;
    font-weight: 700;
    box-shadow: 2px 2px 4px rgba(0,0,0,.35) ;
    cursor: pointer;
    transition: all 0.225s;
}
    .form-buttons *:hover {
        background-color:  #38bdf8;
    }
    .cancel-form {
        background-color: #f43f5e;
    }
    .cancel-form:hover {
        background-color: #fb7185;
    }

#finish {
    align-self: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 0.5rem;
}
    #finish > label {
        font-size: 1rem;
    }

.hidden {
    opacity: 0;
    left: 100%;
}
.no-pointer,
.hidden * {
    pointer-events: none;
}